<div class="authentication" id="authentication-<%= authentication.uid %>">  
  <div class="provider"><%= authentication.provider.titleize %></div>  
  <div class="uid"><%= authentication.nickname %></div>  
  <%= link_to "X", [current_user, authentication], :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>  
</div>