<% title "Log in" %>

<% if @authentications %>  
  <% unless @authentications.blank? %>  
    <p><strong>You can log in to this account using:</strong></p>
    <div class="authentications">
      <%= render :partial => @authentications %>
      <div class="clear"></div>  
    </div>  
  <% end %>  
  <p><strong>Add another service to log in with:</strong></p>  

<% else %>  
  <p><strong>Log in through one of these services:</strong></p>  
<% end %>

<% %w(facebook twitter).each do |provider| %>
  <%= link_to provider.titleize, user_omniauth_authorize_path(provider.to_sym) %>  
<% end %>